.feature-icon {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}

.feature-item {
  display: flex;
  width: 90%;
  margin: auto;
  padding-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.feature-item-text {
  font-size: 18px;
  width: 300px;
  display: flex;
  text-align: center;
}
