header > nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.3125rem 1.25rem;
}

header .image {
  max-width: 100%;
  width: 12.5rem;
}

.connected {
  display: flex;
  gap: 1rem;
  margin-right: 0.5rem;
}

.connected .nav-login {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.not-connected .nav-login {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.fa-solid {
  margin-right: 0.5rem;
  font-size: 20px;
}

@media (max-width: 720px) {
  .connected {
    gap: 0.5rem;
    margin-right: 0.3rem;
  }
}

@media (max-width: 720px) {
  .connected .nav-login {
    font-size: 15px;
  }
}
