.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  height: 500px;
  gap: 20px;
}

.error-text {
  font-size: 30px;
}

.error-button {
  font-size: 20px;
  font-weight: bold;
  background-color: #00bc77;
  border-color: #00bc77;
  width: 250px;
  color: #fff;
  padding: 12px;
  cursor: pointer;
}
