.features {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.features div {
  width: 90%;
}

@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}

.bg-dark {
  background-color: black;
}
